{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<div class="container">

		{% if is_granted('ROLE_USER') %}
			<div class="container mt-5 text-center">
				{% for message in app.flashes('success') %}
					<div class="alert alert-success mt-5">
						{{ message }}
					</div>
				{% endfor %}
				<div class="">
					<h1 class="display-4">Bienvenue
						{{ app.user.name}}
					</h1>
					{% if is_granted('ROLE_CONSULTANT') %}
						<p class="lead">Vous êtes Consultant du site !</p>
					{% endif %}
			{% if is_granted('ROLE_RECRUTEUR') %}
			<div class="btn btn-secondary">Poster une annonce</div>
			{% elseif is_granted ('ROLE_USER')%}
			<a href="{{ path('app_candidature') }}"><p class="btn btn-secondary">Voir vos candidatures</p></a>
			{% endif %}
					<hr class="my-4">
				</div>
			</div>


			{# //LES ANNONCES  #}
			<h2 class="">Voici les dernière annonces</h2>
			<table class="table table-striped">
				<thead>
					<tr>
						<th scope="col">Intitulé du poste</th>
						<th scope="col">Description</th>
						<th scope="col">Salaire</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					{% for annonce in annonces %}

					<tr>
							<td>{{ annonce.title }}</td>
							<td>{{ annonce.description }}</td>
							<td>{{ annonce.salaire }}</td>
							{% if not is_granted('ROLE_RECRUTEUR') %}
							<td><p class="btn btn-primary">Postuler</p></td>
							{% endif %}
							
					</tr>
					{% endfor %}
				</tbody>
			</table>
			 {# display navigation #}
                <div class="navigation d-flex justify-content-end">
                    {{ knp_pagination_render(annonces) }}
                </div>
			</div>


			{# SI UTILISATEUR NON CONNECTÉ CETTE PAGE D'ACCUEIL S'AFFICHE #}
		{% else %}
			<div class="mt-4">
				<div class="jumbotron">
					<h1 class="display-4">TRT Conseil</h1>
					<p class="lead">La plateforme de travail du monde de la restauration. Que vous cherchiez un emploi ou un salarié vous êtes au bon endroit !</p>
					<hr class="my-4">
					<p>Inscrivez vous dès maintenant ou
						<a class="text-decoration-none" href="{{ path('app_security_login') }}">connectez</a>
						vous pour accéder aux fonctionnalités.</p>
					<a class="btn btn-primary btn-lg" href="{{ path('app_security_registration_candidat') }}" role="button">Inscription en tant que candidat</a>
					<a class="ms-4 text-decoration-none" href="{{ path('app_security_registration_recruteur') }}">
						S'inscrire en tant que recruteur</a>
				</div>
			</div>
		{% endif %}
	</div>

{% endblock %}
