{% extends 'base.html.twig' %}

{% block title %}Trt Conseil - Accueil
{% endblock %}

{% block body %}
	<div class="container">


		{% if is_granted('ROLE_USER') %}
			<div class="container mt-5 text-center">
				{% for message in app.flashes('success') %}
					<div class="alert alert-success mt-5">
						{{ message }}
					</div>
				{% endfor %}
				<div>
					<h1 class="display-4">Bienvenue
						{{ app.user.name}}
					</h1>

					{# AFFICHE LE ROLE DES MODOS : #}
					{% if is_granted('ROLE_ADMIN') %}
						<p class="lead">Vous êtes Administrateur du site !</p>
					{% elseif is_granted ('ROLE_CONSULTANT')%}
						<p class="lead">Vous êtes Consultant du site !</p>
					{% endif %}


					{# AFFICHE LES BOUTONS SELON LE ROLE POUR LES ANNONCES :  #}
					{% if is_granted('ROLE_CONSULTANT') %}
					{# <a href="{{ path('app_recruteur_candidature') }}"> #}
							<p class="btn btn-secondary">Voir les annonces à valider</p>
						{# </a> #}
						{# <a href="{{ path('app_recruteur_candidature') }}"> #}
							<p class="btn btn-secondary">Voir les candidature à valider</p>
						{# </a> #}
					{% elseif is_granted('ROLE_RECRUTEUR') %}
						 <a href="{{ path('app_annonce_new') }}" class="btn btn-primary">Poster une Annonce</a>
						<a class="btn btn-primary" href="/annonce">Voir vos Annonces</a>
					{% elseif is_granted ('ROLE_USER')%}
						<a href="{{ path('app_candidature') }}"
							 class="btn btn-secondary">Voir vos candidatures
						</a>
					{% endif %}
					<hr class="my-4">
				</div>
			</div>


		
	


		{# SI UTILISATEUR NON CONNECTÉ CETTE PAGE D'ACCUEIL S'AFFICHE #}
	{% else %}
		<div class="mt-4">
			<div class="jumbotron">
				<h1 class="display-4">TRT Conseil</h1>
				<p class="lead">La plateforme de travail du monde de la restauration. Que vous cherchiez un emploi ou un salarié vous êtes au bon endroit !</p>
				<hr class="my-4">
				<p>Inscrivez vous dès maintenant ou
					<a class="text-decoration-none" href="{{ path('app_security_login') }}">connectez</a>
					vous pour accéder aux fonctionnalités.</p>
				<a class="btn btn-primary btn-lg" href="{{ path('app_security_registration_candidat') }}" role="button">Inscription en tant que candidat</a>
				<a class="ms-4 text-decoration-none" href="{{ path('app_security_registration_recruteur') }}">
					S'inscrire en tant que recruteur</a>
			</div>
		</div>
	{% endif %}
</div>{% endblock %}
