{% extends 'base.html.twig' %}

{% block title %}TRT Conseil - Annonce
{% endblock %}

{% block body %}
	<div class="container">
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			<h1>Annonces à valider</h1>
						{# read and display just one flash message type #}
{% for message in app.flashes('success') %}
    <div class="alert alert-success">
        {{ message }}
    </div>

			<table class="table">
				<thead>
					<tr>
						<th>Title</th>
						<th>Description</th>
						<th>Salaire</th>
						<th></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for annonce in annonces %}
						

						<tr style="{{ annonce.valide ? 'display:none'  }}">
							<td>{{ annonce.title }}</td>
							<td>{{ annonce.description }}</td>
							<td>{{ annonce.salaire }}</td>
							<td class="">
								<a class="btn btn-success" href="{{ path('app_annonce_valide', {'id': annonce.id, 'page': app.request.get('page') ? app.request.get('page') : 1}) }}">{{ annonce.valide ? 'invalider' : 'valider' }}</a>
							</td>
							<td class="">
								<a href="{{ path('app_annonce_show', {'id': annonce.id}) }}">Plus de détails</a>
							</td>
						
						</tr>


						{# {% endif %} #}
					{% else %}
						<tr>
							<td colspan="6">Il n'y pas d'annonces à valider</td>
						</tr>
					{% endfor %}
				</tbody>
			</tbody>
		</table>
		{# display navigation #}
		<div class="navigation d-flex justify-content-end">
			{{ knp_pagination_render(annonces) }}
		</div>

	{% endif %}
</div>{% endblock %}
